@charset "UTF-8";



.bandeira{
  background-attachment: local;
  height: 800px;
}

.bandeira h1{
  font-size: 1.8em;
}

.bandeira h2{
  font-size: 1.2em;
  top: 39%;
}
.btn-contato{
  font-size: 1em;
  width: 200px;

}

